﻿@model Blog5.Models.Comment

<div class="display-field">
    @Html.DisplayFor(x => Model.Body)
</div>
<div class="display-field">
    <h3>cách đây @Html.DisplayFor(x => Model.lastTime)phút</h3>
</div>
