﻿@model WebCuoiKy.Models.Profile

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Profile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.fullname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fullname)
            @Html.ValidationMessageFor(model => model.fullname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ngaySinh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngaySinh)
            @Html.ValidationMessageFor(model => model.ngaySinh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sdt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sdt)
            @Html.ValidationMessageFor(model => model.sdt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.diem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.diem)
            @Html.ValidationMessageFor(model => model.diem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.level)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.level)
            @Html.ValidationMessageFor(model => model.level)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
