﻿@model WebCuoiKy.Models.Profile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fullname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fullname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngaySinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngaySinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sdt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sdt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.diem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.diem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.level)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
