﻿@model WebCuoiKy.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fullname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fullname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngaySinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngaySinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sdt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sdt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.diem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.diem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.level)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserProfileUserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
