﻿@model WebCuoiKy.Models.DatTour

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DatTour</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ngayKhoiHanh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngayKhoiHanh)
            @Html.ValidationMessageFor(model => model.ngayKhoiHanh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ngayKetThuc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ngayKetThuc)
            @Html.ValidationMessageFor(model => model.ngayKetThuc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.soLuongNguoi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.soLuongNguoi)
            @Html.ValidationMessageFor(model => model.soLuongNguoi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.yeuCauKhac)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.yeuCauKhac)
            @Html.ValidationMessageFor(model => model.yeuCauKhac)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.hoTen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.hoTen)
            @Html.ValidationMessageFor(model => model.hoTen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.diaChi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.diaChi)
            @Html.ValidationMessageFor(model => model.diaChi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sdt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sdt)
            @Html.ValidationMessageFor(model => model.sdt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.thongTinTournID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.thongTinTournID)
            @Html.ValidationMessageFor(model => model.thongTinTournID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
