﻿@model WebCuoiKy.Models.DatTour

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DatTour</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayKhoiHanh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayKhoiHanh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayKetThuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayKetThuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.soLuongNguoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.soLuongNguoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.yeuCauKhac)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.yeuCauKhac)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hoTen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hoTen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.diaChi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.diaChi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sdt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sdt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.thongTinTournID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.thongTinTournID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
