﻿@model WebCuoiKy.Models.DatTour

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DatTour</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayKhoiHanh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayKhoiHanh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ngayKetThuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ngayKetThuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.soLuongNguoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.soLuongNguoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.yeuCauKhac)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.yeuCauKhac)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hoTen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hoTen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.diaChi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.diaChi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sdt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sdt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.thongTinTournID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.thongTinTournID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
