﻿@model IEnumerable<WebCuoiKy.Models.DatTour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngayKhoiHanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuongNguoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yeuCauKhac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thongTinTournID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngayKhoiHanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongNguoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yeuCauKhac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thongTinTournID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
